@import './navbar.css';
@import './layout.css';
@import './characters.css';

:root {
    --nav-background: #000000;
}



@font-face {
    font-family: "normal-font";
    src: url(/assets/fonts/kanit.ttf);
}

@font-face {
    font-family: "bold-font";
    src: url(/assets/fonts/kanitbold.ttf);
}



